<h1>TEST</h1>
<c-carousel (itemChange)="onItemChange($event)" [interval]="5000" transition="slide">
	<c-carousel-inner>
	  <c-carousel-item *ngFor="let slide of slides">
		<img
		  [src]="slide.src"
		  alt="{{slide.title}}"
		  class="d-block w-100"
		  loading="lazy"
		/>
	  </c-carousel-item>
	</c-carousel-inner>
	<c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
  	<c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
</c-carousel>
<h1>Welcome to service gallery</h1>
    <button (click)="modalService.open('Add Service')" >Add Service</button>
    <br/>
    <br/>
    <div *ngFor="let service of serviceList; index as i">
            <p>Number: {{ i+1 }}</p>
            <p>Title {{ service.title }}</p>
            <p>Description {{ service.description }}</p>
            <p>Date Added {{ service.dateAdded }}</p>
            <p>Last Modified {{ service.lastModified }}</p>
            <p>Creator {{ service.user }}</p>
            <button (click)="editService(service); modalService.open(String(i))">Update</button>
            &nbsp;
            <button (click)="modalService.open(String(i+1))">Delete</button>
            <hr>
            <jw-modal id='{{i}}'>
                <app-update-service-form [service]="service" (on-submit)="commitEdit($event); modalService.close(String(i))"></app-update-service-form>
                <button (click)="onCancel(); modalService.close(String(i))">Cancel</button>
            </jw-modal>
            <jw-modal id="{{i+1}}">
              <p>Are you sure you want to delete this service?</p>
              <button (click)="deleteService(service);">Yes</button>
              &nbsp;
              <button (click)="onCancel(); modalService.close(String(i+1))">No</button>
            </jw-modal>
    </div>
    <jw-modal id="Add Service">
        <app-create-service-form (on-submit)="modalService.close('Add Service')"></app-create-service-form>
    </jw-modal>