<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="section-title position-relative text-center mb-5">Login Page</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div *ngIf="errorReponse">
                <h1>Invalid Email Adress/Password combination</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="contact-form bg-light rounded p-5">
                    <div id="success"></div>
                    <form name="userLogin" id="loginForm" novalidate="novalidate" ngForm #myForm="ngForm">
                        <div class="control-group">
                            <input type="text" class="form-control p-4" name="veh_emailAddress" [ngModel] = "user.emailAddress" id="veh_emailAddress" placeholder="Email Address" required="required" data-validation-required-message="Please enter your email Address" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control p-4" name="veh_password" [ngModel] = "user.password"  id="veh_password" placeholder="Password" required="required" data-validation-required-message="Please enter your password" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-block py-3 px-5" type="submit" id="loginButton" (click)="handleLogin(myForm)">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
