<form [formGroup]="updateServiceForm">
  <!-- TODO: Improve error handling -->
  Title: <br />
  <input type="text" formControlName="veh_title" />
  <span
    class="error"
    *ngIf="
      updateServiceForm.controls.veh_title.invalid &&
      updateServiceForm.controls.veh_title.dirty
    "
    >Must be 3 characters</span
  >
  <br />
  Description: <br />
  <input type="text" formControlName="veh_description" />
  <span
    class="error"
    *ngIf="
      updateServiceForm.controls.veh_description.invalid &&
      updateServiceForm.controls.veh_description.dirty
    "
    >Must be 3 characters</span
  >
  <br />
  <br />
  <button
    class="button"
    (click)="handleUpdate()"
    [disabled]="updateServiceForm.invalid"
  >
    Submit
  </button>
</form>
