<h1 mat-dialog-title>Create New User</h1>

<div mat-dialog-content>
  <form [formGroup]="createUserForm">
    <div class="mt-1">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput type="text" name="firstName" formControlName="veh_firstName">
        <mat-error *ngIf="
        createUserForm.controls['veh_firstName']?.errors?.required">Field is required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-1">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" name="lastName" formControlName="veh_lastName" />
        <mat-error *ngIf="
        createUserForm.controls['veh_lastName']?.errors?.required">Field is required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-1">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" name="emailAddress" formControlName="veh_emailAddress" />
        <mat-error *ngIf="
        createUserForm.controls['veh_emailAddress']?.errors?.required">Field is required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-1">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput type="text" name="phoneNumber" formControlName="veh_phoneNumber" />
        <mat-error *ngIf="
        createUserForm.controls['veh_phoneNumber']?.errors?.required">Field is required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-1">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Date Of Birth</mat-label>
        <input matInput type="date" name="dateOfBirth" formControlName="veh_dateOfBirth" />
        <mat-error *ngIf="
        createUserForm.controls['veh_dateOfBirth']?.errors?.required">Field is required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-1">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" formControlName="veh_password" />
        <mat-error *ngIf="
        createUserForm.controls['veh_password']?.errors?.required">Field is required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-1">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" name="confirmPassword" formControlName="veh_confirmPassword" />
        <mat-error *ngIf="
        createUserForm.controls['veh_confirmPassword']?.errors?.required">Field is required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt" mat-dialog-actions>
      <button mat-raised-button color="primary" [disabled]="createUserForm.invalid" cdkFocusInitial mat-dialog-close
        (click)="handleCreate()">Create User</button>
      <button mat-raised-button mat-dialog-close>Cancel</button>
    </div>
  </form>
</div>