<h1 mat-dialog-title>Edit Person</h1>

<div mat-dialog-content>
  <form [formGroup]="updateUserForm">
    <div class="mt-1">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput type="text" 
        name="firstName" formControlName="veh_firstName">
        <mat-error *ngIf="
        updateUserForm.controls['firstName']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" name="lastName" formControlName="veh_lastName" />
        <mat-error *ngIf="
        updateUserForm.controls['age']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" name="emailAddress" formControlName="veh_emailAddress" />
        <mat-error *ngIf="
        updateUserForm.controls['emailAddress']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput type="text" name="phoneNumber" formControlName="veh_phoneNumber" />
        <mat-error *ngIf="
        updateUserForm.controls['phoneNumber']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Date Of Birth</mat-label>
        <input matInput type="date" name="dateOfBirth" formControlName="veh_dateOfBirth" />
        <mat-error *ngIf="
        updateUserForm.controls['dateOfBirth']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>

    <div class="mt">

    </div>
  </form>
</div>

<div class="mt" mat-dialog-actions>
  <button mat-raised-button color="primary" 
  [disabled]="updateUserForm.dirty && updateUserForm.errors"
    cdkFocusInitial>Yes</button>
  <button mat-raised-button mat-dialog-close>No</button>

</div>