<app-header></app-header>
<app-service-gallery *ngIf="router.url == '/service-gallery'"></app-service-gallery>
<app-product-gallery *ngIf="router.url == '/product-gallery'"></app-product-gallery>
<app-user-gallery *ngIf="router.url == '/user-gallery'"></app-user-gallery>
<app-user-login-form *ngIf="router.url == '/user-login-form'"></app-user-login-form>
<app-user-logout *ngIf="router.url == '/user-logout'"></app-user-logout>
<app-error *ngIf="router.url == '/error'"></app-error>
<app-footer></app-footer>