<p>service-description works!</p>

<p>Number: {{ currentIndex }}</p>
<p>Title {{ currentService.title }}</p>
<p>Description {{ currentService.description }}</p>
<p>Date Added {{ currentService.dateAdded }}</p>
<p>Last Modified {{ currentService.lastModified }}</p>
<p>Creator {{ currentService.user }}</p>
<button
  (click)="editService(currentService); modalService.open(String(currentIndex))"
>
  Update
</button>
&nbsp;
<button (click)="modalService.open('Delete Service')">Delete</button>
<hr />
<jw-modal id="{{ currentIndex }}">
  <div align="right">
    <button (click)="modalService.close(String(currentIndex))">&#10006;</button>
  </div>
  <app-update-service-form
    [service]="currentService"
    (on-submit)="commitEdit($event); modalService.close(String(currentIndex))"
  ></app-update-service-form>
  <button (click)="onCancel(); modalService.close(String(currentIndex))">
    Cancel
  </button>
</jw-modal>
<jw-modal id="Delete Service">
  <div align="right">
    <button (click)="modalService.close('Delete Service')">&#10006;</button>
  </div>
  <p>Are you sure you want to delete this service?</p>
  <button (click)="deleteService(currentService)">Yes</button>
  &nbsp;
  <button (click)="onCancel(); modalService.close('Delete Service')">No</button>
</jw-modal>
