<h1>Welcome to service gallery</h1>
<div *ngFor="let service of serviceList; index as i">
    <p>Number: {{ i+1 }}</p>
    <p>Title {{ service.title }}</p>
    <p>Description {{ service.description }}</p>
    <p>Date Added {{ service.dateAdded }}</p>
    <p>Last Modified {{ service.lastModified }}</p>
    <p>Creator {{ service.user }}</p>
    <app-update-service-form *ngIf="serviceToEdit == service" [service]="service" (on-submit)="commitEdit($event)"></app-update-service-form>
    <button>View</button>
    <button (click)="editService(service)">Update</button>
    <button>Delete</button>
    <button (click)="onCancel()">Cancel</button>
    <hr>
</div>