<h1>Welcome to service gallery</h1>
    <div *ngFor="let service of serviceList; index as i">
            <p>Number: {{ i+1 }}</p>
            <p>Title {{ service.title }}</p>
            <p>Description {{ service.description }}</p>
            <p>Date Added {{ service.dateAdded }}</p>
            <p>Last Modified {{ service.lastModified }}</p>
            <p>Creator {{ service.user }}</p>
            <button (click)="editService(service); modalService.open(i)">Update</button>
            <button (click)="deleteService(service)">Delete</button>
            <hr>
            <jw-modal id='{{i}}'>
                <app-update-service-form [service]="service" (on-submit)="commitEdit($event); modalService.close(i)"></app-update-service-form>
                <button (click)="onCancel(); modalService.close(i)">Cancel</button>
            </jw-modal>
    </div>